/* ---------for navbar-------- */



.navbar-nav {
    gap: 17px;
    display: flex;
    margin-right: 20px;
}

.nav-link {

    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}



.btn-way {
    background-color: #4CAF4F;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}


/* ---------for navbar-------- */


.main-detail {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 500px;
    width: 1002.3400268554688;
    background-color: #F5F7FA;
}



.span-1 {
    color: #4CAF4F;
}

.main-detail h1 {
    font-size: 70.55px;
    font-weight: 600;
}

.main-detail p {
    color: #717171;
}




.img-logo
{

    align-content: center;
    justify-content: space-between;
    display: flex;
    gap: 138px;
    color: white;
}



.system-main h5
{
 font-weight: 700;
 color: #4D4D4D;
 font-size: 25px;
}

h1,h2
{
    color: #4D4D4D;
}

.business-main  h1

{
   color: #4D4D4D;
   font-weight: 600; 
}


footer i
{
    border-radius: 50px;
    color: white;
    border: 0 solid white;
    padding: 10px 10px;
    background-color: black;
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .main-part h1 {
      font-size: 30px;
      text-align: center;
    }
  
    .btn1 {
      width: 100%;
      margin-top: 10px;
    }
  
    footer .row > div {
      margin-bottom: 20px;
    }
  
    .email {
      width: 100% !important;
    }
  }
  

